doctype 5
html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= title
    script(src="/javascripts/jquery-latest.js")
    script(src="/javascripts/bootstrap/bootstrap.min.js")   
    script(src="/javascripts/position.js") 
    link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
