/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}*/

body{
  padding:2px;
}

.note{
  margin-top:-10px;
  font-size:10px;
  font-style:italic;
  color:#666;
}

span.note{
  font-style:italic;
  color: #999;
  font-size:14px;
}

div.details{
  height:62px;
}

div.share{
  margin-bottom:25px;
}

div#automove{
  padding-top:10px;
  padding-bottom:15px;
}

img.mapicon{
  padding-left:20px;
}
